{
  "singleQuote":    true,
  "semi":           false,
  "printWidth":     100,
  "tabWidth":       2,
  "trailingComma":  "es5",
  "bracketSpacing": true,
  "arrowParens":    "always",
  "endOfLine":      "lf",
  "overrides": [
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": { "singleQuote": false }
    },
    {
      "files": ["*.md"],
      "options": { "printWidth": 120, "proseWrap": "preserve" }
    }
  ]
}
